* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 20px; */
}
.login-form-container {
  width: 100%;
  max-width: 500px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.sidebar .rounded {
  background: rgba(255, 255, 255, 0.15);
}

.sidebar .rounded:hover {
  background: rgba(255, 255, 255, 0.261);
  transition: 0.5s ease-out;
}
